@import url("https://fonts.googleapis.com/css?family=Yeseva+One|Red+Hat+Display&display=swap");

body {
  background-color: lightcyan;
  font-family: "Red Hat Display", sans-serif;
}
header,
h1,
h2 {
  font-family: "Yeseva One", cursive;
}

section {
  margin: 100px;
  color: olive;
  padding: 10px;
}

img {
  border-radius: 5px;
}

footer {
  background-color: olive;
  color: lavenderblush;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
