@import url("https://fonts.googleapis.com/css?family=Yeseva+One|Red+Hat+Display&display=swap");

body {
  background-color: #e8f6f7;
  font-family: "Red Hat Display", sans-serif;
  margin: 0px;
}

header,
h1,
h2 {
  font-family: "Yeseva One", cursive;
}

img {
  border-radius: 5px;
}

h1 {
  font-size: 35px;
}

p {
  font-size: 15px;
}

.p-footer {
  font-size: 12px;
}

@keyframes bounceStyle {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounceStyle 2s infinite;
}

.button-scroll_down {
  position: absolute;
  top: 84vh;
  left: 50vw;
  z-index: 3;
}

.orangles {
  position: absolute;
  right: -65px;
  bottom: -60px;
  height: 125px;
}
